.home {
    margin: 80px auto;
}

.home__title {
    font-weight: 600 !important;
    line-height: normal !important;
}


@media (max-width: 720px) {
    .home {
        /* margin: 0 auto !important;
        padding-top: 45px !important;
        padding-bottom: 30px !important; */
        
        /* margin: 60px auto !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important; */
    }
    .home__title {
        font-size: 40px !important;
    }
    .grid> :first-child {
        margin-bottom: 30px !important;
    }
}