.button {
    padding: 5px 15px !important;
    transition: backgroundColor 0.4s ease-in-out,
                color 0.4s ease-in-out,
                fontWeight 0.4s ease-in-out !important;              
}

.button:hover {
    /* border: 1.5px solid #faa700 !important; */
    /* background-color: #ffd84a !important; */
    /* color: #000 !important; */
    border-bottom: 2px solid #fff !important;
    font-weight: bold !important;
}

.link {
    text-decoration: none !important;
    color: #fff !important;
}